@media screen and (max-width:576px){

    body{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .container{
        width: 100%;
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header{
        // background-image: url('../images/pexels-jae-park-3954429.jpg');
        // background-color: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%);
        .header_top{
            &__between{
                display: none;
            }
        }
        .header_betwen{
            margin: 0;
            &__inner{
                .h-item{
                    font-size: 24px;
                }
                .botom{
                    display: none;
                }
            }
        }
        .header_bottom{
            &__inner{
                .h2-item{
                    display: none;
                }
                .image_block{
                    &__item1{
                        display: none;
                    }
                }
            }
        }
    }
    .main{
        padding: 0;
        .main_inner{
            &__top{
                .h2-item{
                    font-size: 15px;
                }
            }
            &__bottom{
                overflow: scroll;
                white-space: wrap;
                &::-webkit-scrollbar{
                    display: none;
                }
                .item{
                    width: 96px;
                    margin-right: 16px;
                    a{
                        img{
                            width: 96px;
                            max-height: 144px;
                            padding-right: 16px;
                        }
                    }
                }
            }
            &__block{
                display: none;
            }
            &__block2{
                overflow: scroll;
                white-space: wrap;
                &::-webkit-scrollbar{
                    display: none;
                }
                .item{
                    width: 96px;
                    margin-right: 16px;
                    a{
                        img{
                            width: 96px;
                            max-height: 144px;
                            padding-right: 16px;
                        }
                    }
                }
            }
            .alone-h2{
                font-size: 15px;
            }
        }
    }
    .footer{
        padding: 30px 0 0 0;
        .footer_inner{
            &__top{
                flex-direction: column;
                a{
                    img{
                        padding-bottom: 16px;
                    }
                }
                ul{
                    align-items: center;
                    flex-direction: column;
                    li{
                        text-align: center;
                        padding-bottom: 8px;
                    }
                }
            }
            &__bottom{
                align-items: center;
                flex-direction: column;
                h6{
                    display: none;
                }
                .ul-article{
                    margin-left: 20px;
                    align-items: center;
                    flex-direction: column;
                }
                .ul-article1{
                    padding: 20px 0;
                }

            }
        }
    }
}